<!DOCTYPE html>
<html>
<head>
  <title>MovierApp - HAM© International</title>
  <link rel="icon" type="image/png" href="http://images.sodahead.com/polls/000739953/polls_42_40140_1421_921680_poll_xlarge.jpeg">
  <link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
